*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/hoapital.jpg");
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
    transition: 250ms ease-in;
}

.navbar{
    background-color: rgba(200, 200, 200, 0.5);
    font-family: sans-serif;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.list>li{
    padding: 0.2em;
    font-size: 2em;
}

.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.form{

    margin:0 3rem;
    color: white;

    padding: 3em;
    font-size: 2rem;

    filter: blur(50%);
}

#name{
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}

#age{
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}

#gender{
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}

#time{
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}

#doctor{
    background-color: rgba(200, 200, 200, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}

#btn{
    background-color: rgba(218, 208, 194, 0.3);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    margin: 0.1em 1em;

    font-size: 0.75em;
}