<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
    <form action="">

        <div class="navbar">
            <ul class="list">
                <li>home</li>
                <li>blah</li>
                <li>blah</li>
            </ul>
        </div>

        Name:<input type="text" class="pt_name">

        <br><br>

        Age: <input type="number" class="pt_age">

        <br><br>

        Gender:
            <select name="" class="pt_gender">
                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Prefer not to say</option>
            </select>

            <br><br>

            Book an appointment with Dr. 
            <select class="doctor">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>

            <br><br>

            Schedule date of appointment:
            <input type="datetime-local" class="date">

    </form>
</body>
</html>