<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>HMS</title>
</head>

<body>
    <div class="container">
    <a class="service" id="s1" href="appointments.html">Appointment</a>
    <a class="service" id="s2" href="beds.html">Beds Booking</a>
    <a class="service" id="s3" href="mappage.html">Maps</a> 
    </div>
</body>
</html>