<!DOCTYPE html>
<html>
<head>
  <title>Bing Maps Example with Multiple Pushpins and Infoboxes</title>
  <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario' async defer></script>
  <script type='text/javascript'>
    function loadMapScenario() {
      var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
        credentials: 'AnYvwgAd9DpkZXHoyzrb1GK6sn_4gELsmNISBgkPbQRIznKrHxGpZ9hMZntFppm4',
        center: new Microsoft.Maps.Location(31.331708, 75.571589),
        zoom: 16
      });
      
      var pushpins = [
        {
          location: new Microsoft.Maps.Location(31.330140, 75.570002),
          title: 'Jaswant Hospital',
          description: 'Orthopaedic hospital <br> 230m <br> ★★★',
        },
        {
          location: new Microsoft.Maps.Location(31.335351, 75.571573),
          title: 'City Hospital',
          description: ' Cardiac hospital <br> 405m <br> ★★★★',
        },
        {
          location: new Microsoft.Maps.Location(31.334413, 75.564847),
          title: 'Tagore Hospital',
          description: ' Multi-speciality hospital <br> 707m <br> ★★★',
        }
      ];
      
      for (var i = 0; i < pushpins.length; i++) {
        var pushpin = new Microsoft.Maps.Pushpin(pushpins[i].location, {title: pushpins[i].title});
        var infobox = new Microsoft.Maps.Infobox(pushpins[i].location, {
          title: pushpins[i].title,
          description: pushpins[i].description
        });
        infobox.setMap(map);
        // Add a click event listener to the pushpin
  pushpin.metadata = {
    url: 'info' + (i+1) + '.html' 
  };
  Microsoft.Maps.Events.addHandler(pushpin, 'click', function (e) {
    window.location.href = e.target.metadata.url;
  });
  
  map.entities.push(pushpin);
}
    }
  </script>
</head>
<body onload='loadMapScenario();'>
  <div id='myMap'></div>
</body>
</html>
