*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto; 
    perspective: 10px;
    background-image: url("beds.jpg");
    background-size: cover;
}



.navbar{
    display: flex;
    background-color: aqua;
}